html {
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}

.body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h5 { 
  margin: 0;
}

.hide {
    display: none;
  }
      
.lang:hover + .hide {
  display: block;
  color: red;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.color {
    cursor: pointer;
    white-space: nowrap;
    background: inherit;
    color: inherit;
    font: inherit;
    border: none;
    margin: 0;
    padding: 0;
}

.color:before {
  content: " ";
  display: inline-block;
  border-radius: 100%;
  margin: 0.27em;
  height: 0.88em;
  width: 0.88em;
  vertical-align: top;
  position: relative;
}

.color.darkslateblue:before {
  background-color: darkslateblue;
}

.color.brown:before {
  background-color: brown;
}

/* Utiltities */
.nowrap {
  white-space: nowrap;
}

.dropdown-block {
  padding: 0;
  margin-top: 10px;
}

/* Native <details> element styling */
details {
  display: block;
}
details > summary::-webkit-details-marker {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
details > summary {
  display: list-item;
  cursor: pointer;
}
details > div {
  margin-top: 0.5em;
}
details > div:after {
  content: " ";
  clear: both;
  display: block;
}

/* Alternative to <details> compatible with Safari */
.details > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background: none;
  transition: 0.2s;
  cursor: pointer;
  width: 1.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  height: 1.5em;
  vertical-align: top;
  outline: none;
}
.details > input:after {
  content: " ";
  border-top: 0.35em solid transparent;
  border-bottom: 0.35em solid transparent;
  border-left: 0.5em solid black;
  position: relative;
  width: 0.5em;
  height: 0.7em;
  cursor: pointer;
}
.details > input:checked {
  transform: rotate(90deg);
}
.details > label.summary {
  cursor: pointer;
}
.details > input:checked ~ div {
  display: block;
}
.details > div {
  display: none;
}
.details > div.labels {
  margin-top: 0.5em;
}
.details > div:after {
  content: " ";
  clear: both;
  display: block;
}

/* Details as a standalone block */
div.details > input:first-child {
  float: left;
}
div.details > input:first-child + label {
  width: calc(100% - 1.5em);
  padding: 0;
  display: inline-block;
}
div.details > input:first-child + label + .details-body {
  padding-left: 1.5em;
}

/* Details as a list item */
li.details {
  list-style-type: none;
}
li.details:before {
  display: none;
}
li.details > input {
  float: left;
  margin-left: -1.5em;
}

/* Close */
.close {
  text-indent: -9999px;
  position: absolute;
  z-index: 1;
  top: 2em;
  left: 2em;
  display: inline-block;
  width: 4em;
  height: 4em;
  overflow: hidden;
}
.close:before,
.close:after {
  content: " ";
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: white;
  height: 1px;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
